@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800;900&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins'!important;
    height: 100vh;
    text-align: center;
    font-size: 18px;
}

span {
    font-size: 62px;
}

.buttons-container {
    margin-top:10px;

    .btn{
        border:2px solid #000;
        border-radius: 10px;
        padding: 10px 15px;
        text-transform: uppercase;
        font-family: 'Poppins';
        font-weight: 600;
        letter-spacing: 3px;
        outline:none;
        background: transparent;
        cursor: pointer;
    }
}
