@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}
.c-testimonials {
    margin: 100px 0;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
    position: relative;
}

.c-testimonials__box {
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    padding: 40px 25px 300px 25px;
    margin-top: 40px;
    position: relative;
    height: 30vh;
    width:100%;
    overflow: hidden;
}

.c-testimonials__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    padding:0 20px;
}

h3 {
    font-size: 1.65rem;
    color: #20314d;
    line-height: 1.65rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.375rem;
    color: #20314d;
    line-height: 1.375rem;
    font-weight: 500;
}

p {
    color: #b3b8c2;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 20px;
}

.c-testimonials__user {
    justify-content: space-between;
    margin-top: 25px;
}

.c-testimonials__arrows, .c-testimonials__info, .c-testimonials__user {
    display: flex;
    align-items: center;
}

.c-testimonials__desc {
    margin-left: 20px;
}

.c-testimonials__position {
    color: #ff2442;
    font-weight: 500;
}

.c-testimonials__arrows {
    position: absolute;
    bottom: 110px;
    right: 30px;
}

.c-testimonials__left {
    margin-right: 10px;
}

.c-about__left {
    padding-left: 50px;
}